extends layout

block includes
  link(rel='stylesheet' href='/css/styles_chat.css')
  script(src='/js/chat.js',type='module', defer)

block title
  title Czat

block content
  div(id="chat-title")
    p(id="chat-username")
  div(id='chat-window')
  div(id='message-input')
    textarea(id="message-input-ta" rows="1" cols="50" wrap="physical" class="text-input")
    p(id="send-button") Wyślij wiadomość 
      