extends layout

block title
  title Wysłano email

block content
  main
    div(id='form-container')
      p Na podany adres email wysłano wiadomość z linkiem do zresetowania hasła.
      a(href="/") Powrót do strony głównej
