extends layout

block includes
  script(src='/js/offer_index.js' type='module' defer)

block title
  title= 'Witamy w Zabawkowie!'

block content
  main
    aside
      div(id="searchContainer")
        input(id='search-text', type="text", placeholder="wyszukaj...")
        input(id='search-button', type="button", value="Szukaj...")
      ul(id="categoriesList")
        
      p Cena:
      div(class="priceContainer")
        input(id="min-price", type="number", placeholder="min")
        input(id="max-price", type="number", placeholder="max")
    section(id='offers')
      

