html
  head
    block title
    meta(charset= "utf-8")
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/css/styles.css')
  body
    header
      div(id='logo')
        a(href='/')
          h1 Logo
      div(id='user-data')
        p Tutaj będzie przycisk wyloguj, przejście do konta, itp
    block content