html
  head
    block title
    meta(charset= "utf-8")
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/css/styles.css')
    script(src='/js/logout.js')
    block includes
  body
    header
      div(id='logo')
        a(href='/')
          img(src="/images/logo.png")
      div(id='user-data')
        - if(auth_data && auth_data.username)
          p Witaj, 
            a(class='username' href='/user') #{auth_data.username} 
          div(id='user-buttons')
            a(id="logout-button" class='header-button', onclick="logout()" href="javascript:void(0);") Wyloguj
            a(class='header-button', href='/offer/create') Utwórz ofertę...
            a(class='header-button', href='/offer/myoffers') Moje oferty...
            a(class='header-button', href='/chat') Wiadomości...
        -else
          div(id='user-buttons')
            a(class='header-button' href='/login') Zarejestruj / Zaloguj
    block content
    footer