extends layout

block includes
  script(src='/js/change_password.js',type='module', defer)

block title
  title Nowe hasło

block content
  main
    div(id='form-container')
      h2 Zresetuj hasło...
      p Podaj nowe hasło
      form(id='forgot-form', action="", method="post")
        div(style='display: flex; justify-content: space-around;')
          label(for='password') Hasło:
          input(id='password', type='password', name='password')
          input(id='submit-forgot', type='submit', name='submit-forgot', value="Zresetuj hasło...")
      div(id='form-error')