body {
  font-family: arial, sans-serif;
  margin: 0;
  --light_green: rgb(181, 253, 213);
}

h1, h2, h3{
  font-family: cursive;
}

h3{
  margin: 0;
}

a {
  margin: 0;
  color: black;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

header {
  display: flex;
  margin: 0 auto;
  padding: 0;
  background-color: rgb(199, 218, 253);
}

#logo {
  padding: 20;
}

#user-data {
  margin-left: auto;
  margin-right: 20px;
  align: right;
}

main {
  width: 100%;
  display: flex;
  height: 100vh;
}

aside {
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  width: 400px;
  background-color: var(--light_green);
}

#offers {
  width: 100%;
}

.offer {
  margin-top: 20px;
  margin-right: 10px;
  min-height: 150px;
  max-height: 200px;; 
  border-radius: 5px;
  display: flex;
  background-color: var(--light_green);
}

.offer img{
  margin: 20px;
  border: 1px solid;
  max-height: 150px; 
  max-width: 150px; 
  min-height: 150px; 
  min-width: 150px; 
}

.offer-desc{
  display: inline;
  margin-right: 40px;
  overflow-wrap: anywhere;
}

.offer-right-section{
  margin-left: auto;
  margin-right: 20px;
  min-width:100px;
}

#fake-search {
  padding: 5px;
  margin-right: 5px;
  width: 70%;
  height: 30px;
  background-color: white;
}

#fake-search p{
  margin: 0;
}

.checkbox{
  display: flex;
  margin-bottom: 10px;
}

.priceContainer{
  display: flex;
  background-color: white;
}

#searchContainer{
  display: flex;
  height: 30px;
}

#searchContainer input[type=text]{
  width: 75%;
  padding: 2px;
}


#send-message-button{
  margin: 0;
  display: block;
  padding: 5px;
  width: 95%;
  background-color: blue;
  text-align: center;
  color:white;
  border-radius: 5px;
}

input[type=number] {
  appearance: textfield;
}