body {
  font-family: arial, sans-serif;
  margin: 0;
  --main_color: #85e418;
  --header-color: #0074E1;
  background-color: rgb(255, 255, 255);
}

h1,
h2,
h3 {
  /*font-family: cursive;*/
}

a {
  color:black;
  margin: 0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input[type="number"] {
  appearance: textfield;
  width: 50%;
}

header {
  color:rgb(255, 255, 255);
  display: flex;
  margin: 0 auto;
  padding: 0;
  background-color: var(--header-color);
}

main {
  width: 100%;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: flex-start;
}

aside {
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  width: 300px;
  background-color: var(--main_color);
}

footer {
  margin-top: 20px;
  height: 100px;
  background-color: var(--header-color);
}

#offers{
  width: 100%;
}

#logo {
  padding: 20;
}

#user-data {
  margin-left: auto;
  margin-right: 20px;
  align: right;
  height: 200px;
}

#user-buttons{
  display: flex;
  flex-flow: column wrap-reverse;
  height: 100px;
  justify-content: center;
}



#searchContainer{
  display: flex;
  justify-content: space-around;
}

#search-text, #search-button{
  height: 30px;
}

.errorText {
  color: red;
}

.username{
  color: white;
}

.header-button {
  display: block;
  padding: 10px;
  margin: 5px;
  background-color: var(--main_color);
  border-radius: 20px;
}

.offer {
  margin-top: 20px;
  margin-right: 10px;
  min-height: 150px;
  border-radius: 5px;
  display: flex;
  background-color: var(--main_color);
}

.offer img {
  margin: 20px;
  border: 1px solid;
  max-height: 150px;
  max-width: 150px;
  min-height: 150px;
  min-width: 150px;
  border-radius: 10%;
}

.offer-desc {
  display: inline;
  margin-right: 40px;
  overflow-wrap: anywhere;
}

.offer-right-section {
  margin-left: auto;
  margin-right: 20px;
  min-width: 100px;
}

.checkbox {
  margin-bottom: 10px;
}

.message-notification-circle {
  display: inline-block;
  color:white;
  background-color: red;
  padding: 2px;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  text-align: center;
}

.message-notification {
  display: inline-block;
  color:white;
  background-color: red;
  padding: 2px;
  border-radius: 33%;
  text-align: center;
}


