body {
  font-family: arial, sans-serif;
  margin: 0;
  --main_color: rgb(128, 243, 128);
  --header-color: rgb(119, 167, 255);
  background-color: rgb(255, 255, 255);
}

h1, h2, h3{
  font-family: cursive;
}

h3{
  margin: 0;
}

a {
  margin: 0;
  color: black;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

header {
  display: flex;
  margin: 0 auto;
  padding: 0;
  background-color: var(--header-color);
}

.errorText{
  color: red;
}

#logo {
  padding: 20;
}

#user-data {
  margin-left: auto;
  margin-right: 20px;
  align: right;
}

.header-button{
  display: block;
  padding:5px;
  background-color: var(--main_color);
  margin-top:10px;
  border-radius:5px;
}

main {
  width: 100%;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: flex-start;
}

aside {
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  width: 400px;
  background-color: var(--main_color);
}

#offers {
  width: 100%;
}

.offer {
  margin-top: 20px;
  margin-right: 10px;
  min-height: 150px;
  max-height: 200px;; 
  border-radius: 5px;
  display: flex;
  background-color: var(--main_color);
}

.offer img{
  margin: 20px;
  border: 1px solid;
  max-height: 150px; 
  max-width: 150px; 
  min-height: 150px; 
  min-width: 150px; 
}

.offer-desc{
  display: inline;
  margin-right: 40px;
  overflow-wrap: anywhere;
}

.offer-right-section{
  margin-left: auto;
  margin-right: 20px;
  min-width:100px;
}

.checkbox{
  display: flex;
  margin-bottom: 10px;
}

.priceContainer{
  display: flex;
  background-color: var(--main_color);
}

#searchContainer{
  display: flex;
  height: 30px;
}

#searchContainer input[type=text]{
  width: 75%;
  padding: 2px;
}


#send-message-button{
  margin: 0;
  display: block;
  padding: 5px;
  width: 95%;
  background-color: blue;
  text-align: center;
  color:white;
  border-radius: 5px;
}

input[type=number] {
  appearance: textfield;
}

footer {
  margin-top: 20px;
  height: 100px;
  background-color: var(--header-color);
}

#form-container {
  border-radius: 5px;
  background-color: var(--main_color);
  padding:20px;
  max-width: 30%;
  margin: 20 auto;
}