main {
  padding: 20px;
  border-radius: 5px;
  display: block;
  max-width: 1000px;
  align-self: center;
  margin: 0 auto;
  margin-top: 20px;
  background-color: var(--main_color);
}

.user-details p {
  display: block;
  box-sizing: border-box;
}

.address {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  max-width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.delete-button{
  width: 60px;
}

input,
label,
textarea,
select,
button {
  display: block;
  width: 50%;
  max-width: 300px;
  min-height: 30px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
