main{
  margin-top: 20px;
}

#login-form-box{
  background-color: var(--light_green);
  flex: 1;
  padding: 20px;
  margin-left: 20px;
}

#register-form-box{
  background-color: rgb(149, 73, 224);
  flex: 1;
  padding: 20px;
  margin-right: 20px;
}


input, label, textarea, select, button {
  display: block;
  width : 50%;
  min-height:30px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-top:10px;
  margin-left: auto;
  margin-right: auto;
}

input[type='button']{
  width : 20%;
  margin-right: 25%;
}